.*/
!.claude-plugin
!demo-project/.claude
!.gitignore
memory
__pycache__
node_modules

plugins/dev-team/bin/*.cjs.map
plugins/dev-team/bin/coverage
plugins/dev-team/bin/reports
plugins/dev-team/bin/stryker-tmp-*